
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Pacifico&family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Heebo&family=Homemade+Apple&family=Pacifico&family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&family=Yellowtail&family=Yomogi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
  box-sizing: border-box;
}

body{
  margin: 0;

}

.navegation-menu{

  border-top-right-radius:  5px;
  border-top-left-radius:  5px;
  
  
}



.background{
  height: 700px;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.navegation-items-list{

padding: 0.5%;
list-style-type: none;
display: flex;
justify-content: end;
align-items: center;
gap: 10px;



}

#name{
  margin-right: auto;
  font-family: 'Playfair Display SC', serif;
  text-shadow: 3px 3px #444;
  /* font-family: 'Pacifico', cursive; */
  font-weight: 700;
  font-size: 2.0rem;
  color: #FFF;

  
}

.logo{
  width: 50px;

}

i{
  padding: 5px;
}

.nav-item{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  color: #fff;
  transition: all 0.2s;
}

.nav-item:hover{
  cursor: pointer;
  color: #444;
  transition: all 0.2s;
}

li > div{
  text-align: center;
  padding: 0 20px;
}
/* HERO STYLE */



.hero-section{
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-family: 'Playfair Display SC', serif;
  /* font-family: 'Varela Round', sans-serif; */
  color: #FFF;
  inline-size: 600px;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  text-shadow: 2px 3px #000;
}
.button-container{
  margin: 0 auto;
  margin-top: 150px;
}

.section-button{
  color: #555;
  margin: 10px;
  width: 150px;
  height: 50px;
  border: 3px solid #fff;
  background-color: #FFF;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s;
  
}

.section-button:hover{

  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  
  transition: all 0.3s;
  transform-origin: left;
}

hr{
  margin-top: 5%;
  background-color: #444;
  height: 4px;
  border-radius: 5px;
  width: 75%;
}

h2,h3{
  color: #444;
  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
  text-align: center;
}

/* LOCATION CARDS STYLE */
.card-container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 50px; 
  padding: 100px 50px;
}


.card-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;

  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.5);
  transition: all 0.5s;

}
.card-container .card:hover{
  height: 400px;
}


.card-container .card .card-img-box{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .card:hover .card-img-box{
  top: -100px;
  scale: 0.75;
  box-shadow:  0 15px 45px rgba(0,0,0,0.15);

}

.card-container .card .card-img-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .card .card-content{
  position: absolute;
  top: 210px;
  width: 100%;
  padding: 0 30px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}






.card-container .card:hover .card-content{
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 0 30px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;

}

.card-content p{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 1rem;
  color: #444;
  font-weight: 700;
  margin-bottom: 40px;
} 

.card-container-button{
  font-family:'Playfair Display SC', serif;
  color: #444;
  font-weight: 700;
  border: 2px solid #444;
  letter-spacing: 3px;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;
}


.card-container-button:hover{
  cursor: pointer;
  background: #444;
  color: #FFF;
  box-shadow:  5px 5px 50px rgba(0,0,0,1);
  transition: all 0.5s;

}


.card-content h3{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  color: #444;
  
}

footer{
  background-image: linear-gradient( to right , #30a3d0, #330867);
  margin-top: 50px;
  height: auto;
  padding: 20px;
}

.footer-info{
    text-align: center;
  font-family: 'Heebo', sans-serif;
  /* font-family: 'Playfair Display SC', serif; */
  font-size: 1rem;
  color: #FFF;
}

.footer-info i{
font-size: 1.5rem;
margin: 5px 20px;
    
}

.footer-x{
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* PROFILE DESIGN */

.profile-background{
  background: linear-gradient( to right , #30a3d0, #330867);
  height: 400px ;
}

.add-location-background{
  background: url("https://media.cntraveler.com/photos/5fc6818f3cfe1de2cab79372/16:9/w_1600%2Cc_limit/Amsterdam-GettyImages-840603854.jpg");
  height: 400px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-card{

  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,1);
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 60%;
  padding: 20px;


}

.profile-card img{
  float: left;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.5);
  margin-right: 30px;
  margin-bottom: 30px;
}

.profile-info h2{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  color: #444;
}

.profile-info p{
  text-align: justify;
  font-size: 1rem;
  font-family: 'Heebo', sans-serif; 
  color: #444;
}



/* ADD LOCATION DESIGN */



.form-container{
  display: flex;
  /* align-items: center; */
  background-color: #fff;
  margin: 0 auto;
  width: fit-content;
  margin-top: 100px;
  margin-bottom: 200px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,1);


}
.form-title{
  font-family: 'Playfair Display SC', serif;
  /* font-family: 'Varela Round', sans-serif; */
  color: #444;
  inline-size: 180px;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  margin-right: 20px;
}

 .add-location-card{
  background-color: #FFF;
  border-radius: 0 20PX 20px 0;
  padding: 10px;  
  height: fit-content;
  border-left: 10px solid #330867 ;
}

form label{
  font-family: 'Playfair Display SC', serif;
  /* font-family: 'Varela Round', sans-serif; */
  color: #444;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  text-align: center;
}

form input{
  border: 3px solid #444 ;
  display: block;
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  margin:20px auto;
  margin-top: 5px;
}

#form-textarea{
  border: 3px solid #444 ;
  display: block; 
  border-radius: 15px;
  width: 75%;
  height: 100px;
  padding: 10px;
  margin:20px auto;
  margin-top: 5px;
 
}

.submit-button{
  display: block;
  margin: 50px auto;
  border-radius: 15px;
  width: 75%;
  height: 50px;
  font-family:'Playfair Display SC', serif;
  color: #444;
  font-weight: 700;
  letter-spacing: 3px;
  transition: all 0.3s;
}
.submit-button:hover{
  cursor: pointer;
  background: linear-gradient( to right , #30a3d0, #330867);
  box-shadow: 10px 10px 15px #330867, -10px -10px 15px #238eb8;
  font-family:'Playfair Display SC', serif;
  color: #FFF;
  transition: 0.3s;

}

.form-date{
  display: flex;
  gap: 30px;
  margin: 15px;
}

/* CAROUSEL STYLE */


.slider-container{
  width: 100%;
  height: 450px;
  margin: 0 auto;
  /* box-shadow: 0 15px 80px rgba(0,0,0,1); */
  border: none;
}

.slider-item{

  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* PLACE DETAILS VIEW STYLE */

.city-info{
  width: 80%;
  padding: 30px;
  padding-right: 150px;
}

.country-name, .city-date{
  font-family: 'Playfair Display SC', serif;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  text-align: justify;
}

.city-details{
  font-family: 'Heebo', sans-serif;
  font-size: 1rem; 
  text-align: justify;
  color: #444;
}

/* WEATHER STYLES */

.city-info-wrapper{
display: flex;
padding: 30px;
/* margin-right: 100px; */
}


.weather-container{

  background: linear-gradient( to right , #30a3d0, #330867);
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 5px 50px rgba(0,0,0,1);
}
.weather-icon{
  display: block;
  margin: 0 auto;
}
.weather-container h3{
  font-family: 'Heebo', sans-serif;
  font-size: 1rem; 
  color: #FFF;
  text-align: center;
}

.weather-container h2{
  color: #FFF;
}


.forecast{
  padding: 15px;
}

.forecast p {
  font-family: 'Heebo', sans-serif;
  font-size: 0.7rem; 
  color: #FFF;
  text-align: center;
  padding: 0%;
  margin: 0;
  margin-bottom: 5px;
}



/* MAIN MAP STYLE */

.main-map-container{
  width: 100vw;
  height: 500px;
}

.location-pin:hover{
cursor:  pointer;
}