
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Pacifico&family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Heebo&family=Homemade+Apple&family=Pacifico&family=Playfair+Display+SC&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&family=Yellowtail&family=Yomogi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  /* background: linear-gradient(180deg, #345aa4 -28.35%, rgba(63,0,156,0)); */
}


.navegation-menu{
/* 
  background-color: #fbeec1; */
  /* border: 2px solid rgb(182, 126, 4); */
  border-top-right-radius:  5px;
  border-top-left-radius:  5px;
  
  
}



.background{
  height: 500px;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 

.navegation-items-list{

padding: 0.5%;
list-style-type: none;
display: flex;
justify-content: end;
align-items: center;
gap: 10px;



}

#name{
  margin-right: auto;
  font-family: 'Playfair Display SC', serif;
  /* font-family: 'Pacifico', cursive; */
  font-weight: 700;
  font-size: 2.0rem;
  color: #444;

  
}

.logo{
  width: 50px;

}

i{
  padding: 5px;
}

.nav-item{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  color: #444;
  transition: all 0.2s;
}

.nav-item:hover{
  cursor: pointer;
  color: #FFF;
  transition: all 0.2s;
}

li > div{
  text-align: center;
  padding: 0 20px;
}
/* HERO STYLE */



.hero-section{
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-family: 'Playfair Display SC', serif;
  /* font-family: 'Varela Round', sans-serif; */
  color: #FFF;
  inline-size: 600px;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  text-shadow: 2px 3px #000;
}
.button-container{
  margin: 0 auto;
  margin-top: 100px;
}

.section-button{
  color: #555;
  margin: 10px;
  width: 150px;
  height: 50px;
  border: 3px solid #fff;
  background-color: #FFF;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s;
  
}

.section-button:hover{

  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  
  transition: all 0.3s;
  transform-origin: left;
}

hr{
  margin-top: 5%;
  background-color: #444;
  height: 4px;
  border-radius: 5px;
  width: 75%;
}

h3{
  color: #444;
  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
  text-align: center;
}

/* LOCATION CARDS STYLE */
.card-container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 50px; 
  padding: 100px 50px;
}


.card-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;

  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.5);
  transition: all 0.5s;

}
.card-container .card:hover{
  height: 400px;
}


.card-container .card .card-img-box{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .card:hover .card-img-box{
  top: -100px;
  scale: 0.75;
  box-shadow:  0 15px 45px rgba(0,0,0,0.15);

}

.card-container .card .card-img-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .card .card-content{
  position: absolute;
  top: 210px;
  width: 100%;
  padding: 0 30px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}






.card-container .card:hover .card-content{
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 0 30px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;

}

.card-content p{
  text-align: center;
  /* font-family: 'Heebo', sans-serif; */
  font-family: 'Playfair Display SC', serif;
  font-size: 1rem;
  color: #444;
  font-weight: 700;
} 

.card-content h3{
  text-align: center;
  /* font-family: 'Heebo', sans-serif; */
  font-family: 'Playfair Display SC', serif;
  color: #444;
  
}


footer{
  background-image: linear-gradient( to right , #30a3d0, #330867);
  margin-top: 50px;
  height: auto;
  padding: 20px;
}

.footer-info{
    text-align: center;
  font-family: 'Heebo', sans-serif;
  /* font-family: 'Playfair Display SC', serif; */
  font-size: 1rem;
  color: #FFF;
}

.footer-info i{
font-size: 1.5rem;
margin: 5px 20px;
    
}

.footer-x{
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
}

